@charset "UTF-8";


*{
    font-family: "Avenir Next", "Century Gothic", "Franklin Gothic Medium", "Helvetica Neue", Helvetica, Arial, sans-serif,'Nanum Gothic Coding', monospace;
}

div{
    display: block;
}

li{
	list-style: none;
}

body {
    padding: 0pt;
    margin: 0pt;
    background: #fff;
    color: #555;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

div#box{
    width: 100%;
    font-weight: 400;
    text-align: center;
    padding: 5px;
    size: 12px;
    box-sizing: border-box;
    background-color: rgb(55, 128, 177);
    line-height: 1.6;
    color: white;
    margin: 0px;
   
}

/* 네비게이션 */

nav{
    height: 66px;
    display: block;
    border-color: #E5E5E5;
    border-width: 1px;
    border-bottom-style: solid;
}

div.firstpic{
float: left;
}



/* 메인메뉴 */
div.menu1 li{
    float: left; 
    margin: 0 5px;
    list-style: none;
}

div.menu1 li a{
	text-decoration: none;
	color:#333;
	display:block; 
    padding: 10px;
}

/* 서브메뉴 */
.menudetail{
   position: absolute;
    background-color: white;
    color: #333;

}

.menudetail a{
    text-decoration: none;
}

.menudetail a:hover{
    text-decoration: none;
    color:  #01a1dd;
}

/* sign, subscribe */
div.menu2 li{
    float: right; 
    margin: 0 5px;
    list-style: none;
    height: 66px;
    
}

div.menu2 li a{
	text-decoration: none;
	color:#333;
	display:block;
	height: 20px;
    padding: 10px;
    float: left;
}

div.menu2 li :hover{
    color: #50b6db;
}


.menudetail{
    background: #fff;
    left: 0;
    list-style-type: none;
    margin-bottom: 0;
    z-index: 999;
    border-width: 1px;
    border-color: #E5E5E5;
    display: none;
    margin-left: 15px;
    padding: 0;

}

.arrow {
    border-color: #3366CC transparent transparent;
    border-style: solid dashed dashed;
    margin-left: 5px;
    position: relative;
    top: 10px;
}



/* 메인시작 : 1 */
div#main{
    background-image: url("img/main1.jpg");
    width: 100%;
    height: 830px;   
    background-position: center;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
}

.main1{
    text-align:left;
    color: #555555;
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    width: 100%;
    display: table;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    box-sizing: border-box;
}

.main1-1{
    vertical-align: middle;
    display: table-cell;
}

.main1-11{
    font-size: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 600;
}


.main1-12{
    font-size: 48px;
    line-height: 1.3;
    max-width: 32rem;
    display: inline-block;
    margin-bottom: 0;
}

.main1-13{
    margin-top: 20px;
    box-sizing: border-box;
    display: block;
}

.main1-13 .a{
    background: #01a1dd;
    color: #fff;
    padding: 15px 30px;
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 1;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: all .3s;
    color: #fff;
    background-color: #01a1dd;
    border: none;
    box-shadow: none;
    font-weight: 400;
    outline: none;
    text-shadow: none;
    display: inline-block;
}

.main1-13 .a:hover{
    background-color: #066e94;
}

/* 메인시작 : 2 */
.main2{
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

.main2-1{
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 0;
    padding-right: 0;
}

hr{
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}

.main2-11{
    max-width: 48rem;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
}


.main2-21{
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    line-height: 1.6;
    font-weight: 500;
    color: #999;
    margin-bottom: 20px;
}

.main2-22{
    font-size: 32px;
    font-family: Georgia, Garamond, serif;
    font-style: italic;
    line-height: 1.6;
    color: #999;
}

.main2-23{
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 20px;
}

.main2-23 a{
    color: #01a1dd;
    cursor: pointer;
}

.main2title{
    margin-bottom: 35px;
    font-family: Georgia, Garamond, serif;
    font-size: 24px;
    font-weight: 1000;
    color: #0476a0;;
    text-align: center;
    display: block;

}

hr.hr2{
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #bbe2f0;
    border-bottom: 1px solid #bbe2f0;
}



/* 슬라이드 */

#slider{
    position: relative;
    display: block;
}


#slides{
    text-align: center;
    width:100%; 
    padding: 0px;
    display: table;
}

#slide_img{
    display: table-cell;
    padding-right: auto;
    padding-left: auto;
}

#slide_img img{
    margin: 0px 10px 0px 10px;
}



/* footer */


.foot{
    border-color: #E5E5E5;
    border-width: 1px;
    border-top-style: solid;
    width: 100%;
    margin: 0;
    display: block;
    font-weight: normal;
    padding-top: 30px;
}


.bsbc1{
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    display: table;
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;

}

.basic h2 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.2;
    text-transform: uppercase; 
    margin-bottom: 5px;
    color: #555;
}

.shop h2{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.2;
    text-transform: uppercase; 
    margin-bottom: 5px;
    color: #555;
} 

.brewguides h2{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.2;
    text-transform: uppercase; 
    margin-bottom: 5px;
    color: #555;
}
 
.company h2{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.2;
    text-transform: uppercase; 
    margin-bottom: 5px;
    color: #555;
}

.basic a{
    fill: #555;
    cursor: pointer;
    color: #555;
    text-decoration: none !important;
    font-size: 16px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    line-height: 20px;

}

.shop a{
    fill: #555;
    cursor: pointer;
    color: #555;
    text-decoration: none !important;
    font-size: 16px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    line-height: 20px;

}

.brewguides a{
    fill: #555;
    cursor: pointer;
    color: #555;
    text-decoration: none !important;
    font-size: 16px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    line-height: 20px;

}

.company a{
    fill: #555;
    cursor: pointer;
    color: #555;
    text-decoration: none !important;
    font-size: 16px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    line-height: 20px;

}

.bsbc1 a:hover{
    color: #01a1dd;
}


.basic{
    float: left;
    width: 240px;
    box-sizing: border-box;
    padding-right: 5px;
}

.shop{
    float: left;
    width: 240px;
    box-sizing: border-box;
    font-weight: normal;
}

.brewguides{
    float: left;
    width: 240px;
    box-sizing: border-box;
}

.company{
    float: left;
    width: 240px;
    box-sizing: border-box;
}

/* foot2 */
.foot2{
    border-color: #E5E5E5;
    border-width: 1px;
    border-top-style: solid;
    padding-top: 15px;
    width: 100%;
    margin: 0;
    display: block;
    font-weight: normal;
}

.bsbc2{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 25px;
    box-sizing: border-box;
    display: table;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

.connectwithus{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.2;
    text-transform: uppercase;
}

.snspictures{
    text-align: left;
}

.snspictures a{
    float: left;
    padding-right: 20px;
    vertical-align: top;
    
}

.Connect{
    float: left;
    width: 480px;
    box-sizing: border-box;
    padding-right: 5px;
}

.Illustrated{
    float: left;
    width: 480px;
    box-sizing: border-box;
    padding-right: 5px;
}


.illupic{
    float: left;
    width: 100px;
    box-sizing: border-box;
    padding-right: 5px;

}


.illutext{
    float: left;
    width: 240px;
    box-sizing: border-box;
    padding-right: 5px;
}


.illutext h2{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.illutext div{
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.illutext a{
    color: #01a1dd;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none !important;
}
/* foot3 */
.language{
    background-color: #f3f3f3;
    padding-top: 20px;
    padding-bottom: 20px;
}

.lan{
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 480px;
    max-width: 960px;
}

.lan2{
    float: left;
    vertical-align: top;
    padding-left: 45px;
    width: 480px;
}

/* signup page */
.maincontainer{
    min-height: auto;
    padding: 0;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}


.signshare{
    width: 35%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}


.topdescirpt{
    text-align: center;
    box-sizing: border-box;
}


.ih-title{
    line-height: 1.3;
    font-size: 24.5px;
    font-weight: normal;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.ih-body{
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

}

.signform{
    padding-top: 30px;
    box-sizing: border-box;
}

.classform{
    margin: 0 0 20px;
}

.control{
    padding-bottom: 10px;
    width: auto;
}

.label{
    color: #777;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    line-height: 20px;
    cursor: pointer;
}

.red{
    color: #CC333F;
}

.control input{
    width: 100%;
    line-height: 20px;
    color: #555;
    margin: 3px 0 7px;
    padding: 8px;
    height: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.control button{
    width: 16%;
    line-height: 20px;
    color: rgb(250, 244, 244);
    margin: 3px 0 7px;
    padding: 8px;
    height: auto;
    background-color:#01a1dd;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 3px;
    border: none;

}

.control .cardselect{
    width: 100%;
    line-height: 20px;
    color: #555;
    padding: 12px;
    height: auto;
    border-radius: 3px;
}

.t10{
    padding-top: 10px;
}

.t10 input:hover{
    background-color: #066e94;
    
}

.t10 input{
    width: 100%;
    background-color: #01a1dd;
    color: #f3f3f3;
    font-weight: normal;
    padding: 15px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-align: center;
    vertical-align: middle;
    border: none;

}

.t11{
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    
}

.t11a{
    margin-right: 5px;
    font-size: 15px;
}

.t11b a{
    color: #01a1dd;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none !important;
}



/* info */
.containerbox{
    min-height: auto;
    padding: 0;
    width: auto;
}

.pos{
position: relative;
}

.manpicture{
    height: 16rem;
    background-image: url("img/info1.jpg");
}

.pos_1{
    max-width: 960px;
    width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
    height: 100%;
    display: table;
    margin-right: auto;
    margin-left: auto;
}


.pos_2{
    vertical-align: middle;
    display: table-cell;
    padding-left: 20px;
    padding-right: 20px;
}

.pos_2 h2{
    font-weight: 400;
    line-height: 1;
    font-size: 32px;
    vertical-align: inherit;
}

.mc_1{
    max-width: 48rem;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.mc_1 h3{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 10px;
}


.mc_1 .p1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.6;
    vertical-align: inherit;
}

.mc_1 .p2{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.6;
    vertical-align: inherit;
}

.mc_2 img{
    background-image: url("img/info2.jpg");
    height: auto;
    vertical-align: middle;
    border: 0;
    width: 100%;
}

/* form 뜨게하기 */
 .modal {
    width: 100%; 
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow: auto;
    padding-top: 150px;
    display: none;  /* 처음에는 팝업 안보이게 하기 */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
}

.modal-content {  /* 모달 팝업 안의 form */
    background-color:white;
    width: 50%;
    margin: 5px auto;
    border: 2px solid rgb(139, 190, 238);
    border-radius: 2px;
    padding: 20px;
    padding-left: auto;
    padding-right: auto;
}

/* x표 있는 라인*/
.imgcontainer {
    text-align: center;  /* 이미지 중앙 정렬 */
    margin: 5px 0 5px 0;  /* 바깥 여백 */
    position: relative;
    
}

/* 닫기 버튼 (x) */
.close { 
    font-size: 27px;
    font-weight: bold;
    color: rgb(110, 9, 110);
    /* position 설정하여 우상단으로 배치 */
    position: absolute;
    right: 20px;
}

.close:hover, .close:focus {
    color: rgb(8, 110, 243);
    cursor: pointer;
}

.fmtitle{
    font-size: 20px;
    text-align: center;
}

.fmsubtitle{
    text-align: center;
    font-size: 15px;
    padding: 5px 0;
    margin-bottom: 20px;
}

/* 선택지들 */
.db{
    display: block;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 7px;
    
}

.dib{
    height: 50px;
    color: #333;
    width: 40%;
    border: 1px solid #858c8d;
    display: inline-block;
    padding: 5px 0;
    margin: 5px 7px;
    text-align: center;
    cursor: pointer;
}

.db .p{
    display: inline-block;
    width: 70%;
    
 
}

.dib :hover{
   color: red;
}

.ccheck{
    float: left;
    padding: 0px 10px;

}

.fmsubmit{
    display: block;
    text-align: center;
    margin: 20px 0px 10px 0px;
}

.fmsub{
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #fff;
    background-color: #01a1dd;
    border: none;
    font-weight: 400;
    padding: 10px 10px;
    width: 250px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.fmsubmit a{
    color: #01a1dd;
    text-decoration: none;
}

/* 애니메이션 */
.animate {
    animation: animatezoom 0.6s;
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* recommendation */


.containerprimary{
    min-height: auto;
    padding: 0;
    width: auto;
    background-color: rgb(206, 204, 205);
}
