
body {
    background: #fff;
    color: #555;
    font-family: "Avenir Next", Avenir, Roboto, "Century Gothic", "Franklin Gothic Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

div#box{
    width: 100%;
    font-weight: 400;
    text-align: center;
    padding: 5px;
    size: 12px;
    box-sizing: border-box;
    background-color: rgb(81, 180, 247);
    line-height: 1.6;
    color: white;
    margin: 0px;
}

nav{
    height: 66px;
}

div.firstpic{
    float: left;

}


div.menu1 li{
    float: left; 
    margin: 0 5px;
    list-style: none;
    height: 66px;
 
}

div.menu1 li a{
	text-decoration: none;
	color:#333;
	display:block; 
	height: 20px;
    padding: 10px;
    float: left;
}

div.menu2 li{
    float: right; 
    margin: 0 5px;
    list-style: none;
    height: 66px;
    
}

div.menu2 li a{
	text-decoration: none;
	color:#333;
	display:block;
	height: 20px;
    padding: 10px;
    float: left;
}

div#main{
    background-image: url("img/MAIN.jpg");
    width: 100%;
    height: 830px;   
    background-position: center;
    background-size: cover;
}

div#main.main1{
    text-align:left;
    color: #555555;
    vertical-align: middle;
    display: table-cell;

}

.main11{
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 600;
}
